<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% unless session[:user] %>
	<%= link_to 'Login', login_path %>
<% end %>
<% if session[:user] %>
	Logged in as
	<%= session[:name] %>
	<%= link_to 'Logout', logout_path %>
<% end %>
<hr/>
<%= session[:user] %><br/>
<%= session[:email] %><br/>
<%= session[:name] %><br/>
<%= session[:firstname] %><br/>
<%= session[:lastname] %><br/>
<%= session[:groups] %>
